*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   
    
}

@import 'colors';
@import 'header';
@import 'home';
@import 'cart';
@import 'mediaquery';
@import 'productdetails';

body{
    background-color: $primarydark;}

