@import 'colors';

.cart{
    height: 100vh;
    display:grid;
    grid-template-columns: 4fr 1fr;
    >main{
        padding: 2rem;
        overflow-y: auto;

        >h1{
            color: $tertiary;
            font:100 2rem 'Roboto', sans-serif;
        }
        *::-webkit-scrollbar{
            display: none;
        }
    }
    >aside{
        border-radius: 100px 0 0 100px;
        background-color: $primary;
        color: $tertiary;
        height: 100%;
        width: 100%;
        box-shadow: -10px 0px 10px rgba(0,0,0,0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        >h2{
            margin: 1rem;
            color: $tertiary;
            font:100 2rem 'Roboto', sans-serif;
            font : 100 2rem 'Roboto', sans-serif;
            &:last-of-type{
                font-weight: 600;
            }
        }
    }

}

.cartItem{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    width: 100%;
    border-radius: 10px;
    background-color: $tertiary;
    margin: 2rem 0;
    padding: 1rem;
    box-shadow: -10px 0px 10px rgba(0,0,0,0.5);
    align-items: center;
    >img{
        width: 100%;
        height: 200px;
        border-radius: 100px;
        object-fit: contain;
    }
    >div{
        display: flex;
     align-items: center;
        height: 100%;
        button{
            background-color: $primary;
            color: $tertiary;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            &:hover{
                background-color: $primarydark;
            }
        }
        p{
            width: 30px;
            height: 30px;
            display: grid;
            place-items: center;
        }

    }
    >svg{
        cursor: pointer;
        display: inline-block;
        margin:auto;
         font-size: 1.5rem;
         &:hover{
             color: $secondary;
         }
    }

}